/*MAIN STYLES*/
* {
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    width: 100vw;
    align-items: center;
    color: white;
    font-family: 'Roboto';
    padding-top: 15vh;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    padding-top: 15vh;
}

.card {
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.dish_name {
    font-size: 1.2em;
}

.arrow {
    cursor: pointer;
    transition: 1s;
}

.dish_description {
    display: flex;
    width: 100%;
    padding: 0 4em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    letter-spacing: 0.1em;
    opacity: 0;
    transition: 1s;
    transform: translateY(-40px);
}

.dish_description > button {
    width: 25%;
    font-size: .9em;
    padding: 0.5rem 0.5rem;
    margin-top: 1em;
    font-weight: 300;
    border-radius: 0.2em;
    border: none;
    cursor: pointer;
    background-color: #a81521ab;
    color: #e8e8e8;
    
}

.dish_description > button:hover {
    transition: 1s;
    background-color: #a81522;
}

.reveal {
    opacity: 1;
    transition: 1s;
    transform: translateY(0px);
}

.rotate {
    transition: 1s;
    transform: rotate(180deg);
}